@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  padding-top: 52px;
}

@media (max-width: 600px) {
  .hidden-lg {
    display: none;
  }
  .block-lg {
    display: block;
  }
}
