@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  padding-top: 52px;
}

@media (max-width: 600px) {
  .hidden-lg {
    display: none;
  }
  .block-lg {
    display: block;
  }
}

.infowindow {
  @apply bg-blue-900 text-white block text-sm text-center h-6 rounded-md px-2 leading-6;
}
